body {
  font-family: Arial;
  text-align: center;
  background: rgb(100, 139, 160);
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}